@import url('shared.css');


#content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.api-row
{
    display: flex;
    justify-content: left;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


#horizontal-api-div
{
    display: flex;
    justify-content: left;
    flex-direction: column;
}


#api-wrapper
{
    width: 30%;
    padding-left: 2%;
}


#map-wrapper
{
    background-color: var(--second-div-colour);
    color: var(--main-div-colour);
    width: 100%;
}


.block
{
    background-color:var(--main-div-colour);
    padding: 7.5px;
    margin: 1.5%;
    margin-bottom: 0;
    border-radius: 20px;
    min-height: 100%;
}


label
{
    margin-bottom: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: var(--subtitle-font-size);
}


h1
{
    font-size: var(--header-font-size);
    text-align: center;
}


.button:hover
{
    cursor: pointer;
}


#download-button
{
    border: 2px solid var(--main-div-colour);
    border-radius: 5px;
    padding: 5px;
    width: 50%;
    text-align: center;
}


#add-button, #submit-button
{
    border: 2px solid var(--main-font-colour);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 2%;
    width: 50%;
    text-align: center;
    background: var(--main-div-colour);

    &:hover
    {
        background: var(--main-font-colour);
        color: var(--main-div-colour);
    }
}


input[type=text]
{
    width: 60%;
    padding: 2.5px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: var(--subtitle-font-size);
}


.leaflet-map
{
    min-height: 130%;
}

form
{
    padding: 0;
    margin: 0;
}
