@import url('shared.css');

body
{
    background-color: var(--main-bg-colour);
}


#content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.api-row
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#horizontal-api-div
{
    display: flex;
    justify-content: left;
    flex-direction: row;
}


#map-wrapper
{
    background-color: black;
    color: var(--main-div-colour);
}


.block
{
    background-color:var(--main-div-colour);
    padding: 10px;
    padding-left: 30px;
    margin: 2.5%;
    margin-bottom: 0;
    border-radius: 20px;
    width: 45%;
    min-height: 60%;

}


label
{
    margin-bottom: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: clamp(0.75rem, 1vw + 0.5rem, 1.5rem);
}


h1
{
    font-size: var(--header-font-size);
}


.button:hover
{
    cursor: pointer;
}


#download-button
{
    border: 2px solid var(--main-div-colour);
    border-radius: 5px;
    padding: 5px;
    width: 50%;
    text-align: center;
}


#add-button, #submit-button
{
    border: 2px solid var(--main-font-colour);
    border-radius: 5px;
    padding: 5px;
    width: 50%;
    text-align: center;
    background: var(--main-div-colour);
}


#add-button:hover, #submit-button:hover
{
    background: var(--main-font-colour);
    color: var(--main-div-colour);
}


input[type=text]
{
    width: 50%;
    padding: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: clamp(0.75rem, 1.5vw + 0.5rem, 1.5rem);
}


.leaflet-map
{
    height: 200px;
}
