@import url('animations.css');


:root
{
    /* colours */
    --main-div-colour: #f5fdff;
    --main-font-colour:  black;
    --second-div-colour: rgb(25, 25, 25);
    /* font sizes */
    --header-font-size: clamp(1rem, calc(1.75vw + 1vh), 1.5rem);
    --subtitle-font-size: clamp(0.8rem, calc(1vw + 1vh), 1.25rem);
    --paragraph-font-size: clamp(0.45rem, calc(0.75vw + 1vh), 1rem);

    --menu-font-size: clamp(1rem, calc(1.5vw + 1vh), 1.35rem);

}


html
{
  min-height: 100%;
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body
{
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--second-div-colour);
}


.horizontal-menu
{
    min-height: 8%;
    display: flex;
    width: 100%;
    color: var(--main-div-colour);
}


.menu-items
{
    padding-top: 10px;
    padding-bottom: 5px;

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    color: var(--main-font-colour);
    width: 100%;
    font-size: var(--menu-font-size);
    background-color: var(--main-div-colour);

    & > *
    {
        margin-left: 25x;
        margin-right: 25px;
    }

}


.menu-items a:visited, .menu-items a:link
{
    color: var(--main-div-colour);
    text-decoration: none; /* Removing underline */
    color: inherit;
}


.block
{
    background-color: var(--main-div-colour);
}
