@import url('shared.css');


body
{
    height: 100vh;
    background-size: 1000% 1000%;
    background-image: linear-gradient(-45deg, #e34e21, #d24379, #0198ce, #23d5ab);
    animation: gradient 30s ease infinite;
}


#content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}


.api-row
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}


#map-wrapper
{
    background-color: black;
    color: var(--main-div-colour);
}


.block
{
    background-color:var(--main-div-colour);
    padding: 20px;
    padding-left: 30px;
    margin: 3%;
    border-radius: 20px;
    width: 45%;
    height: 65%;
}


label
{
    padding-top: 10px;
    padding-bottom: 10px;
}


h1
{
    font-size: 40px;
}


#download-button
{
    border: 2px solid var(--main-div-colour);
    border-radius: 5px;
    padding: 5px;
    width: 25%;
    text-align: center;
}


@keyframes gradient
{
    0% {
      background-position: 0% 50%;
    }

    25% {
      background-position: 50% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }