<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="/styles/about.css">
    <link rel="stylesheet"  type='text/css' href="/static/css/shared.css">


    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <title>About</title>
</head>
<body>

    <div class="horizontal-menu" id="horizontal-menu">
        <div class="menu-items">
            <img src="/static/img/icon-menu.png" id="menu-img"    alt="img" style="max-width: 30px; max-height: 30px">
            <a href="index.html">API</a>
            <a href="about.html">ABOUT</a>
            <a href="about.html">SOURCE CODE</a>
            <img src="/static/img/icon-moon.png" id="moon-img"    alt="img" style="height: 30px">
        </div>
    </div>

</body>
</html>