<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type='text/css' href="/static/css/index.css">
    <link rel="stylesheet"  type='text/css' href="/static/css/shared.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Latest Leaflet style and scripts -->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <script src="{{ url_for('static', filename='/Javascript/loadLeaflet.js') }}"></script>
    <title>Waypoint API</title>
</head>
<body>

    <div class="horizontal-menu" id="horizontal-menu">
        <div class="menu-items">
            <img src="/static/img/icon-menu.png" id="menu-img"    alt="img" style="max-width: 30px; max-height: 30px">
            <a href="index.html">API</a>
            <a href="about.html">ABOUT</a>
            <img src="/static/img/icon-moon.png" id="moon-img"    alt="img" style="height: 30px">
        </div>
    </div>

    <div id="content">
        <div class="api-row">

            <div class="block" id="api-wrapper">
                <h1>Waypoint API</h1>

                <div class="horizontal" id="horizontal-api-div">
                    <form action="/submit_form" method="POST">
                      <label for="origin">Origin:</label>
                         <br>
                      <input type="text" id="origin" name="origin">
                         <br>
                      <label for="dest">Destination:</label>
                         <br>
                      <input type="text" id="dest" name="dest">
                    </form>

                    <div id="add-waypoints">
                        <div class="button" id="add-button">
                            <a>+ Waypoint</a>
                        </div>
                        <button type="submit" class="button" id="submit-button">Submit</button>
                    </div>
                </div>
            </div>
            <div class="block" id="map-wrapper">
                <h1>Waypoint Map</h1>
                <div id="leaflet-map" class="leaflet-map"></div>
            </div>
        </div>
    </div>
</body>
</html>